/.idea/
/chat-user/.idea/
/chat-user/.gradle/
/chat-subscription/.idea/
/chat-subscription/.gradle/
/chat-news/.idea/
/chat-news/.gradle/
/chat-news/gradle/
/chat-messenger/.idea/
/chat-messenger/.gradle/
/chat-gateway/.idea/
/chat-gateway/.gradle/
/chat-feed/.idea/
/chat-feed/.gradle/
/chat-feed/gradle/
/chat-eureka/.idea/
/chat-eureka/.gradle/
/chat-config/.idea/
/chat-config/.gradle/
/chat-config/build/
/chat-eureka/build/
/chat-messenger/build/
/chat-feed/build/
/chat-user/build/
/chat-gateway/build/
/chat-news/build/
/chat-subscription/build/
